@import "tailwindcss";

:root {
  --background: #FFFDFB;
  --foreground: #171717;
}

@font-face {
  font-family: 'GintoNord';
  src: url('/fonts/ginto-nord/ABCGintoNord-Light.woff2') format('woff2'),
       url('/fonts/ginto-nord/ABCGintoNord-Light.woff') format('woff'),
       url('/fonts/ginto-nord/ABCGintoNord-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GintoNordBold';
  src: url('/fonts/ginto-nord/ABCGintoNord-Black.woff2') format('woff2'),
       url('/fonts/ginto-nord/ABCGintoNord-Black.woff') format('woff'),
       url('/fonts/ginto-nord/ABCGintoNord-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* @theme (inline) {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'GintoNord', Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 1.5vw, 18px);
}

.fake-1-col {
  width: calc((100% - (1rem * 11)) / 12);
}



.home-marquee span.m-bold {
  width: 400px;
  font-family: 'GintoNordBold', sans-serif;
}

.title {
  font-family: 'GintoNordBold', sans-serif;
}

.title-scale {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
}

.big-title-scale {
  font-size: clamp(4.25rem, 6vw, 10rem);
  line-height: 0.8;
}


.swiper-button-prev, .swiper-button-next {
  color: black !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px !important;
  font-family: 'GintoNordBold' !important;
}
.swiper-button-prev:after {
    content: '〈' !important;
}

.swiper-button-next:after {
    content: '〉' !important;
}
